[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot.git 
[submodule "zsh/plugins/zsh-syntax-highlighting"]
	path = zsh/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "zsh/plugins/pure"]
	path = zsh/plugins/pure
	url = https://github.com/sindresorhus/pure.git
    branch = main
[submodule "dotbot-golang"]
	path = dotbot-golang
	url = https://github.com/delicb/dotbot-golang
[submodule "dotbot-brew"]
	path = dotbot-brew
	url = https://github.com/d12frosted/dotbot-brew.git
